/* Reset */
*, *::before, *::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
	font-size: 16px;
}
html,body {
	min-height: 100vh;
}

body {
	background-color: #f1f5f9;
	height: 100%;
	font-family: 'Roboto', sans-serif;
}

/* Estilos generales */
h1, h2, h3 {
	color: #e60076;
	font-weight: 500;
}

h2 {
	margin-bottom: 0.5rem;
	position: relative;
}

h2::before {
	content: '';
	margin-right: 0.5rem;
	display: inline-block;
	height: 0.75rem;
	width: 5px;
	border-radius: 100vmax;
	background-color: #212529;
	
}

header {
	position: sticky;
	top: 0;
	z-index: 200;
}
section {
	width: 100%;
}

p {
	font-weight: 350;
	color: #79716b;
}

aside {
	width: 400px;
	padding: 1rem;
	background-color: #fff;
	height: 100%;
	position: fixed;
	z-index: 30;
	top: 56px;
	right: 0;
	bottom: 0;
	overflow-y: scroll;
}

.card-img-top {
	transition: opacity 0.4s ease;
}